{% extends 'admin/layout/layout.html.twig' %}
{% block header_title %}
    Contenu des Emails
{% endblock %}

{% block content %}
    <div id="admin-email-list">

    </div>
{% endblock %}

{% block part_js %}

{% endblock %}