{% extends 'admin/layout/layout.html.twig' %}
{% block header_title %}
    Push notifications
{% endblock %}

{% block content %}
    <div id="admin-push-notifications">
        <div class="card">
            <div class="card-body">
                <p class="text-muted mb-0">Page Push notifications</p>
            </div>
        </div>
    </div>
{% endblock %}

{% block part_js %}

{% endblock %}
