<div class="flashes">
    {% for type in ['success', 'error', 'info', 'warning'] %}
        {% for message in app.session.flashbag.get(type) %}
            <div class="alert alert-{{ type }} clearfix alert-dismissible fade show" role="alert">
                <button type="button" data-dismiss="alert" class="close" aria-hidden="true">&times;</button>
                {{ message|raw }}
            </div>
        {% endfor %}
    {% endfor %}
</div>