{% extends 'admin/layout/layout.html.twig' %}
{% block header_title %}
    Formalités administratives
{% endblock %}

{% block content %}
    <div id="admin-todo-list">

    </div>
{% endblock %}

{% block part_js %}

{% endblock %}