{% extends 'admin/layout/layout.html.twig' %}
{% block header_title %}
    Pompes Funèbres
{% endblock %}

{% block content %}
    <div id="admin-pompe-list">

    </div>
{% endblock %}

{% block part_js %}

{% endblock %}