/*
********** COLORS *************************/
$primary-color: #DCC6A9;

$font-dark: #000;
$font-grey: #666;


$bg-light-v2: lighten($primary-color, 20);

$success: #25d543;
$alert-color-error: #ec4949;
